{% extends 'base.html'%}

{% block head %} 
<title>Edit Post</title>
{% endblock %}

{% block body %} 
<h1>Edit current post</h1>

<hr>
<form action="/posts/edit/{{post.id}}" method="POST">
    <label for="title">Title :</label>
    <input class="form-control" type="text" value="{{post.title}}" aria-label="Search" name="title" id="title">
    <br>
    <label for="author">Author :</label>
    <input class="form-control" type="text" name="author" id="author" aria-label="Search" value="{{post.author}}" >
    <br>
    <label for="content">Post :</label>
    <textarea class="form-control" rows="3" id="content" name="content">{{post.content}}</textarea>
    <br>
    <input type="submit" value="Save">
    </form>
    <hr>
{% endblock %}