{% extends 'base.html'%}

{% block head %} 
<title>New Post</title>
{% endblock %}

{% block body %} 
<h1>Create new blogpost</h1>

<hr>
<form action="/posts/new" method="POST">
    <label for="title">Title :</label>
    <input class="form-control" type="text" placeholder="Enter Title" aria-label="Search" name="title" id="title">
    <br>
    <label for="author">Author :</label>
    <input class="form-control" type="text" name="author" id="author" aria-label="Search" placeholder="Enter author" >
    <br>
    <label for="content">Post :</label>
    <textarea class="form-control" rows="3" id="content" name="content" placeholder="Enter Content"></textarea>
    <br>
    <input type="submit" value="Post">
    </form>
    <hr>
{% endblock %}